<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produits Boutique</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <h1>Bienvenue dans notre Boutique</h1>
        <nav>
            <a href="/cart">Voir le Panier</a>
            <a href="/">Accueil</a>
        </nav>
    </header>
    
    <section class="add-product">
        <h2>Ajouter un Produit</h2>
        <form action="/add" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Nom du produit" required>
            <input type="number" name="quantity" placeholder="Quantité" required>
            <input type="number" name="price" placeholder="Prix" required>
            <input type="file" name="image" required>
            <button type="submit">Ajouter</button>
        </form>
    </section>
    
    <section class="products">
        <h2>Produits Disponibles</h2>
        <div class="product-list">
            {% for product in products %}
            <div class="product-card">
                <img src="../static/uploads/{{ product.image }}" alt="{{ product.name }}" width=40 height=200>
                <h3>{{ product.name }}</h3>
                <p>{{ product.price }} DA</p>
                <a href="/add_to_cart/{{ product.id }}">Ajouter au Panier</a>
                <a href="/delete/{{ product.id }}" class="delete">Supprimer</a>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
</body>
</html>
